---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import Body from "../../components/Body.astro";
import MarcaCard from "../../components/tienda/MarcaCard.astro";
import NavMarcas from "../../components/tienda/NavTienda.astro";
import ProductCard from "../../components/tienda/ProductoTCard.astro";

import banner from "../../assets/tienda/banner.jpg";
import cobraLogo from "../../assets/tienda/cobra-logo.png";
import cobraImage from "../../assets/tienda/cobra-img.jpg";
import data from "../../data/tienda.json";

const marca = "Cobra";
const categoria = "Cadenas Metálicas";
const tipo = 'Cadenas rectas';

var marcaSelect = {}
var categoriaSelect = {}
var tipoSelect = {}

for (const key in data) {
    if (Object.prototype.hasOwnProperty.call(data, key)) {
        const element = data[key];
        if(element['marca'] === marca){
            marcaSelect = element;
        }
    }
}

for (const key in marcaSelect['categorias']) {
    if (Object.prototype.hasOwnProperty.call(marcaSelect['categorias'], key)) {
        const element = marcaSelect['categorias'][key];
        if(element['nombre'] === categoria){
            categoriaSelect = element;
        }
    }
}

for (const key in categoriaSelect['tipos']) {
    if (Object.prototype.hasOwnProperty.call(categoriaSelect['tipos'], key)) {
        const element = categoriaSelect['tipos'][key];
        if(element['nombre'] == tipo){
            tipoSelect = element;
        }
    }
}

---

<Layout path="/tienda" , title_page="Refamij - Tienda">
    <Banner title="TIENDA COMERCIAL" img={banner.src} />
    <Body isGray="gray">
        <NavMarcas marca={marca}, categoria={categoria}, tipo={tipo}>
            <section class="main-section">
                <MarcaCard logo={cobraLogo} image={cobraImage} />
                <section class="cards-container">
                    {
                        tipoSelect['modelos'].map((element) => (
                            <ProductCard title={element['nombre']} img={element['imgs'][0]} route={`/tienda/${element['nombre']}`} />
                        ))
                    }
                </section>
            </section>
        </NavMarcas>
    </Body>
</Layout>

<style>
    .main-section {
        width: 100%;
        margin: 0 auto;
    }
    
    /* CARDS CONTAINER */
    .cards-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    @media screen and (max-width: 1200px) {
        .marca-card {
            width: 90%;
        }
        .cards-container {
            width: 90%;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 1150px) {
        .marca-card img {
            height: 60px;
        }
    }

    @media screen and (max-width: 1000px) {
        .cards-container {
            width: 90%;
            grid-template-columns: repeat(2, 1fr);
        }
        .marca-card h3 {
            font-size: 16px;
        }
        .marca-card p {
            font-size: 14px;
        }
    }

    @media screen and (max-width: 750px) {
        .marca-card {
            flex-direction: column;
        }
        .marca-card img {
            height: 50px;
            margin-bottom: 1rem;
        }
    }

    @media screen and (max-width: 700px) {
        .cards-container {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>
